{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}CampusDesk{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body class="home-body">
    <nav class="corner-nav">
        <a href="{% url 'home' %}" class="nav-btn">Home</a>
        <a href="{% url 'services' %}" class="nav-btn">Services</a>
        <a href="{% url 'incidents' %}" class="nav-btn">Incidents</a>
        {% if not user.is_authenticated %}
            <a href="{% url 'login' %}" class="nav-btn">Log in</a>
        {% endif %}
    </nav>
    {% if user.is_authenticated %}
        <div class="corner-nav top-right">
            <span class="info">Logged in as: <strong>{{ user.username }}</strong></span>
            <form action="{% url 'logout' %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="nav-btn logout-btn">Log out</button>
            </form>
        </div>
    {%endif%}
    {% block content %}{% endblock %}
</body>
</html>


