{%extends "base.html"%}
{%block title%}Login{%endblock%}
{% load static %}
{% block extra_js %}
  <script src="{% static 'js/password.js' %}" defer></script>
{% endblock %}



{%block content%}
<div class="login-field">
  <div class="stacked">
    {% if form.email.errors or form.password.errors %}<div class="error"><p>Email or Password is incorrect</p></div>{% endif %}
    <form method="post">
      {% csrf_token %}
      {{ form.email }}
      <div>
        {{ form.password }}
        <button type="button" id="togglePasswordBtn" onclick="togglePasswordVisibility()" class="password">Show</button>
      </div>
      <button type="submit">Log in</button>
    </form>

    <a href="{% url 'register' %}" class="btn-link">Need an account? Register</a>
  </div>
</div>
{%endblock%}