{%extends "base.html"%}
{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">

{%block content%}
{% for msg in messages %}<p class="error">{{ msg }}</p>{% endfor %}
<div class="login-field">
  <div class="stacked">
    <form method="post">
      {% csrf_token %}
      <input name="email" required placeholder="Email"><br>
      <input name="password" type="password" required placeholder="Password"><br>
      <button>Log in</button>
    </form>

    <a href="{% url 'register' %}" class="btn-link">Need an account? Register</a>
  </div>
</div>
{%endblock%}