{% extends "base.html" %}
{% block title %}Profile{% endblock %}

{% block content %}
<header class="header">
    <div class = "cover" aria-hidden="true"></div>
    <div class= "identity"></div>


    //--------Profile------------

    <div class="avatar-wrap">
    <img class="avatar" src="{% enter.jpg%}" alt ="Profile photo">
    
    </div>

    <div class = "identity-row">
        <div>
            <h1>Jane Doe</h1>
            <p class="handle">@JaneDoe</p>
        </div>
        <a class="btn" href="#">Edit Profile </a>
    </div>

/////  Bio Section------------------




</header>





{% endblock %}