{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<div class="corner-nav top-right">
  <a href="{% url 'home' %}" class="nav-btn">Home</a>
  <a href="{% url 'login' %}" class="nav-btn">Login</a>
</div>
<h1>Register</h1>

{% for field in form %}
  {% for msg in field.errors %}
    <p class="error">{{ field.label }}: {{ msg }}</p>
  {% endfor %}
{% endfor %}

<form method="post">
  {% csrf_token %}
  <input name="first_name" required placeholder="First name" value="{{ form.first_name.value|default:'' }}"><br>
  <input name="last_name" required placeholder="Last name" value="{{ form.last_name.value|default:'' }}"><br>
  <input name="email" required placeholder="Email" value="{{ form.email.value|default:'' }}"><br>
  <input name="password" type="password" required placeholder="Password"><br>
  <input name="password2" type="password" required placeholder="Confirm password"><br>
  <button>Register</button>
</form>

<a href="{% url 'login' %}" class = "btn-link">Already have an account? Log in</a>
